<launch>

    <!--mapviz-->
    <machine
        name="garcia"
        address="10.0.0.21"
        env-loader="~/catkin_ws/launcher.sh"
        default="true"
        user="garcia"
    />
    <group >
        <include file="$(find mapviz)/launch/mapviz.launch">
        </include>
    </group>
</launch>